--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-dotenv
chromadb
sentence-transformers
pypdf
PyMuPDF
google-genai
python-multipart
langchain-text-splitters
torch --index-url https://download.pytorch.org/whl/cpu